<div class="sidenav">
    <div class="sidenav-content">
        <div class="inner-sidenav">
            <div class="title">
                <div></div>
                <span>Brand Name</span>
            </div>
            <div class="menus">
                <div class="menu1" *ngIf="loggedInAs == 'customer'">
                    <div class="m1 profile" (click)="Profile()" routerLink="/home/profile" routerLinkActive="active"
                        [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">
                        <img class="icon-img" src="../../../assets/Union (1).png" alt="" />
                        <span>Profile</span>
                    </div>
                </div>
                <div class="menu1" *ngIf="loggedInAs == 'customer'">
                    <div class="m1" (click)="Employees()" routerLink="/home/employees" routerLinkActive="active"
                        [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">
                        <img class="e-solid" src="../../../assets/clarityEmployeeSolid0 - Copy.png" alt="">
                        <span>Client</span>
                    </div>
                </div>
                <div class="menu1" *ngIf="loggedInAs == 'employee'">
                    <div class="m1" (click)="Customers()" routerLink="/home/customers" routerLinkActive="active"
                        [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">
                        <img class="icon-img" src="../../../assets/Group 1224.png" alt="" />
                        <span>Customers</span>
                    </div>
                </div>
                <mat-divider class="horizontal"></mat-divider>
                <div class="menu1">
                    <div *ngIf="loggedInAs == 'customer'" class="m1" (click)="Invoices()" routerLink="/home/invoices"
                        routerLinkActive="active" [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">
                        <img class="icon-img" src="../../../assets/Invoice.png" alt="" />
                        <span>All Invoices</span>
                    </div>
                    <div *ngIf="loggedInAs == 'employee'" class="m2" (click)="Invoices()" routerLink="/home/invoices"
                        routerLinkActive="active" [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">
                        <img class="icon-img" src="../../../assets/Invoice.png" alt="" />
                        <span>All Invoices</span>
                    </div>
                </div>
                <mat-divider class="horizontal"></mat-divider>
            </div>
            <div class="signout">
                <div class="m1 signout-btn">
                    <img src="../../../assets/Group 74 (1).png" alt="" />
                    <span>SignOut</span>
                </div>
            </div>
        </div>
    </div>
</div>