<div class="sidenav">
    <div class="sidenav-content">
        <div class="inner-sidenav">
            <div class="title">
                <div></div>
                <span>Brand Name</span>
            </div>
            <div class="menus">
                <div class="menu1">
                    <div class="m1 profile" (click)="Profile()" routerLink="/home/profile" routerLinkActive="active">
                        <img class="icon-img" src="../../../assets/Union (1).png" alt="" />
                        <span style="font-size: 18px;">Profile</span>
                    </div>
                </div>
                <div class="menu1">
                    <div class="m1" (click)="Employees()" routerLink="/home/employees" routerLinkActive="active">
                        <img src="../../../assets/Group 1225.png" alt="">
                        <span style="font-size: 18px;">Client</span>
                    </div>
                </div>
                <div class="menu1">
                    <div class="m1" (click)="Customers()" routerLink="/home/customers" routerLinkActive="active">
                        <img class="icon-img" src="../../../assets/Group 1224.png" alt="" />
                        <span style="font-size: 18px;">Customers</span>
                    </div>
                </div>
                <mat-divider class="horizontal"></mat-divider>
                <div class="menu1">
                    <div class="m1" (click)="Invoices()" routerLink="/home/invoices" routerLinkActive="active">
                        <img class="icon-img" src="../../../assets/Invoice.png" alt="" />
                        <span style="font-size: 18px;">All Invoices</span>
                    </div>
                </div>
                <mat-divider class="horizontal"></mat-divider>
            </div>
            <div class="signout">
                <div class="m1 signout-btn">
                    <img src="../../../assets/Group 74 (1).png" alt="" />
                    <span>SignOut</span>
                </div>
            </div>
        </div>
    </div>
</div>