<div class="outer-update">
  <form class="inner-update" [formGroup]="customerForm">
    <div class="bank-details">
      <i class="fa-solid fa-arrow-left fa-2xl" (click)="cancelDialog()"></i>
      <span *ngIf="!isEdit" class="bank-credentials">Add New Customer</span>
      <span *ngIf="isEdit" class="bank-credentials">Edit Customer</span>
      <i class="fa-solid fa-check fa-2xl" (click)="saveCustomer()"></i>
      <div></div>
    </div>
    <div class="actual-form-div">
      <div class="customer-details">
        <div class="customer1">
          <span>Customer Details</span>

          <div class="fields">
            <div class="f-1">
              <p class="f-1-outline">Customer Name</p>
              <input type="text" formControlName="customerName" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Contact Number</p>
              <input type="number" formControlName="contactNumber" />
            </div>
          </div>
        </div>
        <div class="details">
          <span class="address-t">Address</span>
          <div class="fields2">
            <div class="f-1">
              <p class="f-1-outline">Building Name/Number</p>
              <input type="text" formControlName="buildingName" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Landmark(optional)</p>
              <input type="text" formControlName="landmark" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Street/Lane</p>
              <input type="text" formControlName="street" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Postal Code</p>
              <input type="number" formControlName="postalCode" />
            </div>
          </div>
        </div>
      </div>
      <div class="bank-details-div">
        <div class="cus-details">
          <span class="customer-credentials">Customer Bank Details</span>
          <div></div>
        </div>
        <div class="account-details">
          <div class="mobile-bank-list-div">
            <div class="save" *ngFor="let bank of bankList">
              <span>{{bank.bankName}}</span>
              <img src="../../../assets/vector (8).png" alt="" />
            </div>
          </div>
          <div class="add-button" (click)="addBankToList()">
            <img src="../../../assets/vector (9).png" alt="" />
            <span>Add Bank Account</span>
          </div>
        </div>
        <div class="details">
          <div class="fields2 fields3">
            <div class="f-1">
              <p class="f-1-outline">Bank Name</p>
              <input type="text" formControlName="bankName" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Account Name</p>
              <input type="text" formControlName="accountName" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Account Number</p>
              <input type="number" formControlName="accountNumber" />
            </div>
            <div class="f-1">
              <p class="f-1-outline">Sort Codec</p>
              <input type="number" formControlName="sortCode" />
            </div>
          </div>
        </div>
        <div class="buttons">
          <div class="add-btn" (click)="saveCustomer()">
            <img src="../../../assets/vector (2).png" alt="" />
            <span>Save Customer</span>
          </div>
          <div class="add-btn cancel" (click)="cancelDialog()">
            <img src="../../../assets/vector (7).png" alt="" />
            <span>Cancel</span>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>