.outer-update {
  height: 700px;
  width: 719px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafc;
}
.inner-update {
  height: 100%;
  width: 660px;
}

.bank-details {
  height: 7%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.customer-credentials {
  width: 250px;
  font-family: "Inter", sans-serif;
}
.bank-credentials {
  width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  height: 19px;
  color: #5800a0;
}
.bank-details div {
  border: 1px solid #a6a6a6;
  width: 690px;
}
.customer-details {
  // border: 1px solid red;
  height: 45%;
  display: flex;
  flex-direction: column;
}
.customer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  padding: 0px 20px 0px 20px;
}
.customer1 span {
  color: #8a8a8a;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}
.address-t {
  color: #8a8a8a;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fields2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  gap: 30px;
}

.f-1 {
  border: 1px solid #cccccc;
  width: 270px;
  height: 34px;
  border-radius: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}

.f-1-outline {
  position: absolute;
  height: 15px;
  top: -10px;
  left: 12px;
  background-color: #f4f7fc;
  padding: 3px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-1 input {
  height: 15px;
  width: 230px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ffff;
  color: black;
  margin-top: 5px;
}

.f-1-title {
  position: absolute;
  color: #8a8a8a;
  left: 17px;
  top: 16px;
  font-size: 16px;
}
.cus-details {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.cus-details div {
  border: 1px solid #a6a6a6;
  width: 690px;
}
.account-details {
  padding: 0px 25px 0px 34px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.save {
  width: 210px;
  display: flex;
  justify-content: space-between;
  color: #8a8a8a;
}
.save span {
  font-size: 14px;
}
.save img {
  height: 17px;
  width: 16px;
}

.add-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 25px;
  width: 184px;
  border-radius: 20px;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 2px;
  margin-left: 45px;
  background-color: #f9fafc;
}

.add-button img {
  height: 13px;
  width: 13.9px;
}

.buttons {
  height: 15%;
  display: flex;
  width: 100%;
  gap: 20px;
  padding-left: 30px;
}
.ad-btn {
  cursor: pointer;
  font-size: 16px;
  height: 29px;
  width: 150px;
  border-radius: 20px;
  background-color: #5800a0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 9px;
}
.add-btn img {
  height: 12px;
  width: 12px;
}

.cancel {
  background-color: transparent;
  width: 110px;
  border: 1px solid red;
  color: red;
}
.cancel img {
  height: 12px;
  width: 12px;
}
@media screen and (max-width: 500px) {
  .outer-update {

    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
    overflow-y: scroll;
  }
  .inner-update {
    width: 360px;
   
  }
  .fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    margin-top: 30px;
    gap: 20px;
  }
  .customer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    padding: 20px 0px 0px 0px;
  }
  .fields2 {
    display: flex;
    justify-content: initial;
    align-items: initial;
    padding-top: 26px;
  }
  .customer1 span {
    color: #8a8a8a;
    font-family: "Inter", sans-serif;
    margin-left: 0px;
    padding-left: 65px;
    margin-top: 5px;
  }
  .bank-details div {
    border: none;
    width: 0;
  }
  .bank-credentials {
    width: 320px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    height: 19px;
    color: #5800a0;
  }
  .cus-details {
    height: 0;
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-left: 20px;
  }
  .cus-details div {
    border: none;
    width: 0px;
  }
  .address-t {
    color: #8a8a8a;
    font-family: "Inter", sans-serif;
    padding-left: 89px;
    margin-top: 33px;
  }
  .customer-credentials {
    width: 250px;
    font-family: "Inter", sans-serif;
    margin-top: 155px;
    padding-left: 40px;
  }
  .fields3{
    border: 1px solid red;
   margin-top: 25px;
  }
  .account-details {
    border: 1px solid red;
    padding: 0;
    margin-top: 100px;
    height: 20%;
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    gap: 12px;
  }
  .save {
    width: 168px;
    display: flex;
    justify-content: space-between;
    color: #8a8a8a;
  }
  .add-button{
    margin-left: 0;
  }
  .details{
    height: initial;
  }
}
