.outer-update {
  height: 700px;
  width: 719px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafc;
}

.inner-update {
  height: 100%;
  width: 660px;
}

.bank-details {
  height: 7%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.customer-credentials {
  width: 250px;
  font-family: "Inter", sans-serif;
}


.actual-form-div {
  height: 100%;
  width: 660px;

  @media screen and (max-width: 500px) {
    width: 80%;
    border: 1px solid #5800a0;
    border-radius: 20px;
    height: 110%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 110px;
    background: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

}

.bank-credentials {
  width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  height: 19px;
  color: #5800a0;
}

.bank-details {
  i {
    display: none;
  }

  @media screen and (max-width: 500px) {
    display: flex;
    background-image: url('../../../assets/Gradient_BG.png');
    background-size: cover;
    height: 250px;
    justify-content: center;
    gap: 20px;
    align-items: baseline;
    padding: 0 30px;
    z-index: 1;
    width: 100vw;
    padding-top: 30px;
    justify-content: space-between;

    i {
      display: block;
      color: white;
    }
  }
}

.bank-details div {
  border: 1px solid #a6a6a6;
  width: 690px;
}

.customer-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bank-details-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;

  @media screen and (max-width: 500px) {
    height: none;
    margin-top: 120px;
    gap: 20px;
    padding: 20px;
  }
}

.customer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  padding: 0px 20px 0px 20px;
  gap: 20px;
}

.customer1 span {
  color: #8a8a8a;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  gap: 20px;
}

.address-t {
  color: #8a8a8a;
  font-family: "Inter", sans-serif;
  padding-left: 30px;
}

.fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fields2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100px;
  gap: 40px;
}

.f-1 {
  border: 1px solid #5800A0;
  width: 270px;
  height: 42px;
  border-radius: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
}

.f-1-outline {
  position: absolute;
  height: 15px;
  top: -10px;
  left: 12px;
  background-color: #f4f7fc;
  padding: 3px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-1 input {
  height: 15px;
  width: 230px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ffff;
  color: black;
  margin-top: 5px;
}

.f-1-title {
  position: absolute;
  color: #8a8a8a;
  left: 17px;
  top: 16px;
  font-size: 16px;
}

.cus-details {
  height: 15%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.cus-details div {
  border: 1px solid #a6a6a6;
  width: 690px;
}

.account-details {
  padding: 0px 25px 0px 34px;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}

.save {
  width: 210px;
  display: flex;
  justify-content: space-between;
  color: #8a8a8a;
}

.save span {
  font-size: 14px;
}

.save img {
  height: 17px;
  width: 16px;
}

.add-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 25px;
  width: 184px;
  border-radius: 20px;
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 2px;
  margin-left: 45px;
  background-color: #f9fafc;
  align-self: end;
}

.add-button img {
  height: 13px;
  width: 13.9px;
}

.buttons {
  height: 15%;
  display: flex;
  width: 100%;
  gap: 20px;
  padding-left: 30px;
  margin-top: 30px;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.add-btn {
  cursor: pointer;
  font-size: 16px;
  height: 29px;
  width: 150px;
  border-radius: 20px;
  background-color: #5800a0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 9px;
}

.add-btn img {
  height: 12px;
  width: 12px;
}

.cancel {
  background-color: transparent;
  width: 110px;
  border: 1px solid red;
  color: red;
}

.cancel img {
  height: 12px;
  width: 12px;
}

@media screen and (max-width: 500px) {
  .outer-update {

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
  }

  .inner-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
  }

  .customer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    padding: 20px 0px 0px 0px;
  }

  .fields2 {
    display: flex;
    justify-content: center;
    padding-top: 26px;
  }

  .customer1 span {
    color: black;
    font-family: "Inter", sans-serif;
    margin-left: 0px;
    margin-top: 5px;
    align-self: center;
  }

  .bank-details div {
    border: none;
    width: 0;
  }

  .bank-credentials {
    width: 320px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    height: 19px;
    color: #5800a0;

    @media screen and (max-width: 500px) {
      width: fit-content;
      justify-content: space-between;
    }
  }

  .cus-details {
    display: flex;
    align-self: center;
  }

  .cus-details div {
    border: none;
    width: 0px;
  }

  .address-t {
    color: black;
    font-family: "Inter", sans-serif;
    margin-top: 33px;
    align-self: center;
    padding-left: 0;
  }

  .customer-credentials {
    width: fit-content;
    font-family: "Inter", sans-serif;
    padding-left: 0;
  }

  .fields3 {
    margin-top: 25px;
  }

  .account-details {
    padding: 0;
    height: 20%;
    width: 76%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    gap: 12px;
  }

  .save {
    width: 168px;
    display: flex;
    justify-content: space-between;
    color: #8a8a8a;
  }

  .add-button {
    margin-left: 0;
  }

  .details {
    height: initial;
    align-items: center;
  }
}