.invoice-outer-div {
  width: 82vw;
  padding: 20px 0;


  @media screen and (max-width: 500px) {
    width: 100vw;
    overflow: hidden;
    padding: 0;
    height: 100%;

    h1,
    hr {
      display: none;
    }
  }
}

.filter-div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px 0;
  flex-wrap: wrap;

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.adv-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(206, 204, 204);
  height: 30px;
  width: 6rem;
  border-radius: 50px;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid rgb(206, 204, 204);
  height: 30px;
  width: 20rem;
  border-radius: 50px;
  padding: 5px 10px;

  input {
    border: none;
    transform: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cust-btn,
.edit-btn,
.export-btn,
.inv-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cust-btn {
  border-radius: 50px;
  color: white;
  width: 7rem;
  padding: 5px;
}

.inv-btn {
  border-radius: 50px;
  color: white;
  width: 9rem;
  padding: 5px;
}

.edit-btn {
  border: 1px solid rgb(206, 204, 204);
  border-radius: 50px;
  color: #6d6d6d;
  width: 10rem;
  padding: 5px;
}

.export-btn {
  border-radius: 50px;
  width: 7rem;
  padding: 5px;
}

.table-div {
  width: 100%;
  overflow: auto;
}

.pageIndex {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  color: grey;
  margin-top: 20px;

  i {
    cursor: pointer;
  }
}

.list {
  position: absolute;
  top: 35px;
  left: 0;
  border: 1px solid grey;
  border-radius: 20px;
  width: 50%;
  z-index: 100;
  background-color: white;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.options {
  padding: 10px;
  border-radius: 20px;
}

.options:hover {
  background-color: #f0f5ff;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 163px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgb(196, 195, 195);
  width: 250px;

  div {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    display: none;
  }
}

.date-menu {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  background-color: white;
  z-index: 999;
  position: absolute;
  top: 163px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 3px 8px rgb(196, 195, 195);
  width: 250px;

  div {
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    top: 204px;
  }
}

.image-logo {
  display: none;

  @media screen and (max-width: 500px) {
    display: flex;
    background-image: url('../../../assets/Gradient_BG.png');
    background-size: cover;
    height: 250px;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.mobile-add {
  display: none;
}


@media screen and (max-width: 500px) {
  .heading-mobile-cust {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 90%;
    gap: 40px;
  }

  .image-logo {
    display: flex;
    flex-direction: column;
  }

  .mobile-filter-div {
    display: flex;
    border-radius: 50px;
    background-color: white;
    height: auto;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
  }

  .edit-btn,
  .export-btn {
    width: fit-content;
    padding: 0 10px;
    height: 34px;
    font-size: 16px;
  }

  .export-btn {
    border: 1px solid rgb(206, 204, 204);
    border-radius: 50px;
    color: #6d6d6d;
    width: fit-content;
    padding: 5px;
  }

  .adv-filter {
    width: 5rem;
    height: 34px;
  }

  .search {
    padding: 20px 10px;
    background-color: white;
    width: 90%;
  }

  .mobile-add {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}