<div class="invoice-outer-div">
    <h1 style="font-size: 24px; font-weight: bold; margin: 0;"
        [style.color]="color == 'employee' ? '#1354D4' : '#5800A0'">All Invoice Details</h1>
    <hr style="width: 100%; opacity: 0.5;">
    <div class="image-logo">
        <div class="heading-mobile-cust">
            <i class="sidenav-toggle fa-solid fa-bars fa-2xl" style="color: white;" (click)="handleSidenav()"></i>
            <h2 style="font-weight: bold; margin: 0; color: white; font-size: 24px;">Invoice Details</h2>
        </div>

        <div class="search">
            <input placeholder="Search Here..." (ngModelChange)="onTextChange($event)" [(ngModel)]="searchTerm" />
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: grey; width: auto;"></i>
        </div>
        <div class="mobile-filter-div">
            <div class="adv-filter" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-filter" style="width: auto;"></i>
                <h4 style="margin: 0; width: auto; color: grey;">Sort</h4>
            </div>
            <div class="filter-menu">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Sort by Invoice Number</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Date</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Net Amount</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by VAT Rate</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Payment Method</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Payment Status</a></li>
                </ul>
            </div>
            <div class="edit-btn" (click)="openDialog(selectedInvoice)">
                <i class="fa-solid fa-pen-to-square" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Edit Details
                </p>
            </div>
            <div class="export-btn">
                <i class="fa-solid fa-pen-to-square" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Export
                </p>
            </div>
        </div>
    </div>
    <div class="filter-div">
        <div class="search-filter">
            <div class="adv-filter btn " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-filter" style="width: auto;"></i>
                <h5 style="margin: 0; width: auto; color: #b8b4b4;">Filters</h5>
            </div>
            <div class="filter-menu">
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Sort by Invoice Number</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Date</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Net Amount</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by VAT Rate</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Payment Method</a></li>
                    <hr>
                    <li><a class="dropdown-item">Sort by Payment Status</a></li>
                </ul>
            </div>
            <div class="search">
                <input placeholder="Search" (ngModelChange)="onTextChange($event)" [(ngModel)]="searchTerm" />
                <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #b8b4b4; width: auto;"></i>
            </div>
        </div>
        <div class="btn-group">
            <div class="inv-btn" (click)="generateInvoice()" *ngIf="viewGenerateInvoice"
                [style.background-color]="color == 'employee' ? '#1354D4' : '#5800a0'">
                <i class="fa-solid fa-plus" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Generate Invoice
                </p>
            </div>
            <div class="cust-btn" (click)="openDialog()"
                [style.background-color]="color == 'employee' ? '#1354D4' : '#5800a0'">
                <i class="fa-solid fa-plus" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Add Invoice
                </p>
            </div>
            <div class="edit-btn" (click)="openDialog(selectedInvoice)">
                <i class="fa-solid fa-pen-to-square" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Edit Invoice Details
                </p>
            </div>
            <div class="export-btn" [style.color]="color == 'employee' ? '#1354D4' : '#5800a0'"
                [style.border]="color == 'employee' ? '1px solid #1354D4' : '1px solid #5800a0'"
                (click)="convertToCSV()">
                <i class="fa-solid fa-pen-to-square" style="width: auto;"></i>
                <p class="customer" style="margin: 0;">
                    Export Data
                </p>
            </div>
        </div>
    </div>
    <div class="table-div">
        <app-table [tableHeaders]="color == 'employee' ? tableHeaders : tableHeaderForCustomer"
            [tableData]="filteredCustomerList" (rowSelected)="rowSelected($event)"></app-table>
    </div>
</div>
<div *ngIf="isMenuVisible">
    <app-sidenav></app-sidenav>
</div>