<div class="inner-content">
  <div class="details">
    <div class="headline">
      <h1>Business Profile Management</h1>
    </div>
    <div class="forms">
      <div class="logo">
        <div class="logo-square">
          <div>
            <img [src]="logoUrl[0]" width="186px" height="186px" alt="" />
            <div style="margin-left: 22px">
              <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none" />
              <p style="cursor: pointer" (click)="openFileExplorer()">
                Click Here to Upload Your Brand Logo
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="business-details">
        <div class="inner-details">
          <div class="business-sec">
            <div class="business-title">
              <span class="business1">Business Details</span>
              <img class="edit-icon" *ngIf="!showSecondIcon2" src="../../../assets/Vector.png" alt=""
                (click)="editForBusiness()" />
              <div *ngIf="showSecondIcon2" class="cancel-done">
                <div class="btns cancel-btn" (click)="updateBusinessDetails()">
                  <span>Done</span>
                </div>
                <div class="btns done-btn" (click)="cancelBusinessEdit()">
                  <span>cancel</span>
                </div>
              </div>
              <!-- <img
                class="check-icon1"
                *ngIf="showSecondIcon2"
                (click)="updateAccountInfo()"
                src="../../../assets/Group 1228.png"
                alt=""
              /> -->
            </div>
            <div class="fields">
              <div class="f-1">
                <p class="f-1-outline">Business Name</p>
                <input type="text" *ngIf="isEditingbusiness" [(ngModel)]="BusinessDetails.businessName" />
                <span class="f-1-title" *ngIf="!isEditingbusiness">{{
                  BusinessDetails.businessName
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Contact Number</p>
                <input type="text" *ngIf="isEditingbusiness" [(ngModel)]="BusinessDetails.contactNumber" />
                <span class="f-1-title" *ngIf="!isEditingbusiness">{{
                  BusinessDetails.contactNumber
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">VAT Number</p>
                <input type="text" *ngIf="isEditingbusiness" [(ngModel)]="BusinessDetails.vatNumber" />
                <span class="f-1-title" *ngIf="!isEditingbusiness">{{
                  BusinessDetails.vatNumber
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">CRN Number</p>
                <input type="text" *ngIf="isEditingbusiness" [(ngModel)]="BusinessDetails.crnNumber" />
                <span class="f-1-title" *ngIf="!isEditingbusiness">{{
                  BusinessDetails.crnNumber
                  }}</span>
              </div>
            </div>
          </div>

          <div class="address-sec">
            <div class="business-title">
              <span class="ad">Address</span>
              <img class="edit-icon" *ngIf="!showSecondIcon" src="../../../assets/Vector.png" alt=""
                (click)="editForAddress()" />
              <!-- <img
                class="check-icon1"
                *ngIf="showSecondIcon"
                (click)="updateAccountInfo()"
                src="../../../assets/Group 1228.png"
                alt=""
              /> -->
              <div *ngIf="showSecondIcon" class="cancel-done">
                <div class="btns cancel-btn" (click)="updateAddress()">
                  <span>Done</span>
                </div>
                <div class="btns done-btn" (click)="cancelAddressEdit()">
                  <span>cancel</span>
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="f-1">
                <p class="f-1-outline">Building Name/Number</p>
                <input type="text" *ngIf="isEditingaddress" [(ngModel)]="AddressDetails.buildingNameNumber" />
                <span class="f-1-title" *ngIf="!isEditingaddress">{{
                  AddressDetails.buildingNameNumber
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Street/Lane</p>
                <input type="text" *ngIf="isEditingaddress" [(ngModel)]="AddressDetails.streetName" />
                <span class="f-1-title" *ngIf="!isEditingaddress">{{
                  AddressDetails.streetName
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Landmark(optional)</p>
                <input type="text" *ngIf="isEditingaddress" [(ngModel)]="AddressDetails.landmark" />
                <span class="f-1-title" *ngIf="!isEditingaddress">{{
                  AddressDetails.landmark
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Postal Code</p>
                <input type="text" *ngIf="isEditingaddress" [(ngModel)]="AddressDetails.postalCode" />
                <span class="f-1-title" *ngIf="!isEditingaddress">{{
                  AddressDetails.postalCode
                  }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="management-sec">
          <div class="bank-details">
            <span class="manage-credentials">Manage Credentials</span>
            <div></div>
          </div>
          <div class="bank-fields b-field">
            <span>Account Information</span>
            <img *ngIf="!showManageIcon" (click)="editForCredentials()" class="edit-icon"
              src="../../../assets/Vector.png" alt="" />
            <div *ngIf="showManageIcon" class="cancel-done">
              <div class="btns cancel-btn">
                <span>Done</span>
              </div>
              <div class="btns done-btn" (click)="cancelAccountEdit()">
                <span>cancel</span>
              </div>
            </div>
            <!-- <img
              class="check-icon1"
              *ngIf="showManageIcon"
              (click)="updateAccountInfo()"
              src="../../../assets/Group 1228.png"
              alt=""
            /> -->
          </div>
          <div class="bank-details-fields">
            <div class="f-1">
              <p class="f-1-outline">User Name</p>
              <input type="text" *ngIf="isEditingmanagementDetails" [(ngModel)]="AccountInfo.username" />
              <span class="f-1-title" *ngIf="!isEditingmanagementDetails">{{
                AccountInfo.username
                }}</span>
            </div>
            <div class="f-1">
              <p class="f-1-outline">Email</p>
              <input type="text" *ngIf="isEditingmanagementDetails" [(ngModel)]="AccountInfo.email" />
              <span class="f-1-title" *ngIf="!isEditingmanagementDetails">{{
                AccountInfo.email
                }}</span>
            </div>
            <div class="f-1">
              <p class="f-1-outline">Password</p>
              <input type="text" *ngIf="isEditingmanagementDetails" [(ngModel)]="AccountInfo.password" />
              <span class="f-1-title" *ngIf="!isEditingmanagementDetails">{{
                AccountInfo.password
                }}</span>
            </div>
          </div>
        </div>
        <div class="savings-sec">
          <div class="bank-details">
            <span class="bank-credentials">Bank Details</span>
            <div></div>
          </div>
          <div class="inner-credentials" *ngFor="let bank of BankDetails">
            <div class="bank-fields">
              <span>ABCD Saving A/C</span>
              <div class="icons">
                <img *ngIf="!showbankdetails" (click)="removeBank(bank)" class="delete-icon"
                  src="../../../assets/vector (1).png" alt="" />
                <img *ngIf="!showbankdetails" class="edit-icon" style="margin-top: 1.5px"
                  src="../../../assets/Vector.png" alt="" (click)="editBankDetails()" />
                <div *ngIf="showbankdetails" class="cancel-done">
                  <div class="btns cancel-btn" (click)="UpdateBankDetails(bank)">
                    <span>Done</span>
                  </div>
                  <div class="btns done-btn" (click)="cancelBankEdit()">
                    <span>cancel</span>
                  </div>
                </div>
                <!-- <img
                  class="check-icon1"
                  *ngIf="showbankdetails"
                  (click)="updateAccountInfo()"
                  src="../../../assets/Group 1228.png"
                  alt=""
                /> -->
              </div>
            </div>
            <div class="bank-details-fields">
              <div class="f-1">
                <p class="f-1-outline">Bank Name</p>
                <input type="text" *ngIf="isEditingbankDetails" [(ngModel)]="bank.bankName" />
                <span class="f-1-title" *ngIf="!isEditingbankDetails">{{
                  bank.bankName
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Account Name</p>
                <input type="text" *ngIf="isEditingbankDetails" [(ngModel)]="bank.accountName" />
                <span class="f-1-title" *ngIf="!isEditingbankDetails">{{
                  bank.accountName
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Account Number</p>
                <input type="text" *ngIf="isEditingbankDetails" [(ngModel)]="bank.accountNumber" />
                <span class="f-1-title" *ngIf="!isEditingbankDetails">{{
                  bank.accountNumber
                  }}</span>
              </div>
              <div class="f-1">
                <p class="f-1-outline">Sort Code</p>
                <input type="text" *ngIf="isEditingbankDetails" [(ngModel)]="bank.sortCode" />
                <span class="f-1-title" *ngIf="!isEditingbankDetails">{{
                  bank.sortCode
                  }}</span>
              </div>
            </div>
          </div>
          <div class="inner-credentials" *ngIf="addbankaccount">
            <div class="bank-fields">
              <p>ABCD Saving A/C</p>
              <div class="icons">
                <img class="check-icon1" (click)="addBankAccount()" src="../../../assets/Group 1228.png" alt="" />
                <img (click)="cancelAddingForm()" class="cancel-icon" src="../../../assets/vector (7).png" alt="" />
              </div>
            </div>
            <div class="bank-details-fields">
              <div class="f-1">
                <p class="f-1-outline">Bank Name</p>
                <input type="text" [(ngModel)]="bankName" />
              </div>
              <div class="f-1">
                <p class="f-1-outline">Account Name</p>
                <input type="text" [(ngModel)]="accountName" />
              </div>
              <div class="f-1">
                <p class="f-1-outline">Account Number</p>
                <input type="text" [(ngModel)]="accountNumber" />
              </div>
              <div class="f-1">
                <p class="f-1-outline">Sort Code</p>
                <input type="text" [(ngModel)]="sortCode" />
              </div>
            </div>
          </div>
          <div class="add-button" (click)="OpenBankAccountForm()">
            <img src="../../../assets/vector (2).png" alt="" />
            <span>Add Bank Account</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- mobile view -->

<div class="mobile-view">
  <div class="image-logo-prof">
    <img src="../../../assets/Gradient BG (1).png" alt="" />
  </div>
  <div class="mobile-form-div">
    <div class="heading-mobile">
      <i class="sidenav-toggle fa-solid fa-bars fa-2xl" style="color: white" (click)="handleSidenav()"></i>
      <h4 style="font-weight: bold; margin: 0; color: white">
        Business Profile Management
      </h4>
    </div>
    <div class="logo">
      <div class="logo-square">
        <img [src]="logoUrl[0]" width="186px" height="186px" alt="" />
        <div>
          <input type="file" #fileInput accept="image/*" (change)="onFileSelected($event)" style="display: none" />
          <p style="cursor: pointer" (click)="openFileExplorer()">
            Click Here to Upload Your Brand Logo
          </p>
        </div>
      </div>
    </div>
    <div class="bank-section">
      <div class="inner-sec">
        <span class="heading">Account Information</span>
        <div class="f-1">
          <p class="f-1-outline">User Name</p>
          <input type="text" [(ngModel)]="AccountInfo.username" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Email ID</p>
          <input type="text" [(ngModel)]="AccountInfo.email" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Password</p>
          <input type="text" [(ngModel)]="AccountInfo.password" />
        </div>
        <div class="f-1 update">
          <span>Update</span>
        </div>
      </div>
    </div>
    <div class="business-section">
      <div class="inner-sec">
        <span class="heading">Address Details</span>
        <div class="f-1">
          <p class="f-1-outline">Building Name/Number</p>
          <input type="text" [(ngModel)]="AddressDetails.buildingNameNumber" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Street/Lane</p>
          <input type="text" [(ngModel)]="AddressDetails.streetName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Landmark(optional)</p>
          <input type="text" [(ngModel)]="AddressDetails.landmark" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Postal Code</p>
          <input type="text" [(ngModel)]="AddressDetails.postalCode" />
        </div>
        <div class="f-1 update" (click)="updateAddress()">
          <span>Update</span>
        </div>
      </div>
    </div>
    <div class="account-section">
      <div class="inner-sec">
        <span class="heading">Business Details</span>
        <div class="f-1">
          <p class="f-1-outline">Business Name</p>
          <input type="text" [(ngModel)]="BusinessDetails.businessName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Contact Number</p>
          <input type="text" [(ngModel)]="BusinessDetails.contactNumber" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">VAT Number</p>
          <input type="text" [(ngModel)]="BusinessDetails.vatNumber" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">CRN Number</p>
          <input type="text" [(ngModel)]="BusinessDetails.crnNumber" />
        </div>
        <div class="f-1 update" (click)="updateBusinessDetails()">
          <span>Update</span>
        </div>
      </div>
    </div>
    <!-- add new form -->

    <div class="address-section addData" *ngIf="addbankaccount">
      <div class="inner-sec">
        <span class="heading">Bank Details</span>
        <div class="savings">
          <span class="s-acnt">ABCD Savings A/C</span>
          <img src="../../../assets/vector (1).png" alt="" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Bank Name</p>
          <input type="text" [(ngModel)]="bankName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Account Name</p>
          <input type="text" [(ngModel)]="accountName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Account Number</p>
          <input type="text" [(ngModel)]="accountNumber" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Sort Code</p>
          <input type="text" [(ngModel)]="sortCode" />
        </div>
        <div class="buttons-sec">
          <div class="f-1 update" (click)="addBankAccount()">
            <span>Submit</span>
          </div>
        </div>
      </div>
    </div>
    <div class="address-section" *ngFor="let bank of BankDetails">
      <div class="inner-sec">
        <span class="heading">Bank Details</span>
        <div class="savings">
          <span class="s-acnt">ABCD Savings A/C</span>
          <img src="../../../assets/vector (1).png" alt="" (click)="removeBank(bank)" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Bank Name</p>
          <input type="text" [(ngModel)]="bank.bankName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Account Name</p>
          <input type="text" [(ngModel)]="bank.accountName" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Account Number</p>
          <input type="text" [(ngModel)]="bank.accountNumber" />
        </div>
        <div class="f-1">
          <p class="f-1-outline">Sort Code</p>
          <input type="text" [(ngModel)]="bank.sortCode" />
        </div>
        <div class="buttons-sec">
          <div class="add-button" (click)="OpenBankAccountForm()">
            <img src="../../../assets/vector (2).png" alt="" />
            <span>Add Bank Account</span>
          </div>
          <div class="f-1 update" (click)="UpdateBankDetails(bank)">
            <span>Update</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMenuVisible">
  <app-sidenav (isMenuVisible)="handleMenu($event)"></app-sidenav>
</div>