
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CloudBasedInvoiceApplication-primary: mat.define-palette(mat.$indigo-palette);
$CloudBasedInvoiceApplication-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CloudBasedInvoiceApplication-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CloudBasedInvoiceApplication-theme: mat.define-light-theme((
  color: (
    primary: $CloudBasedInvoiceApplication-primary,
    accent: $CloudBasedInvoiceApplication-accent,
    warn: $CloudBasedInvoiceApplication-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($CloudBasedInvoiceApplication-theme);

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  scrollbar-width: 5px;
  scrollbar-color: rgb(179, 179, 179);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  border: 5px solid #ffffff;
}

.dropdown-menu {
  font-size: 14px;

  li {
    cursor: pointer;
  }

  hr {
    margin: 8px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
