<table>
    <thead [style.color]="user == 'employee' ? '#1354D4' : '#5800a0'">
        <tr>
            <td><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"></td>
            <th *ngFor="let header of title" (click)="sort(header)" style="cursor: pointer;"><span>{{ header != '_ID' ?
                    header == 'CUSTOMER NAME'
                    && user == 'customer'
                    ?
                    'CLIENT NAME' : header :
                    '' }} <i *ngIf="header != '_ID'" class="fa-solid fa-up-down"></i></span></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tableData; let i = index" [class.odd]="i % 2 === 0" [class.even]="i % 2 !== 0"
            [class.selected]="row.selected"
            [style.border-left]="row.selected ? user == 'employee' ? '2px solid #1354D4' : '2px solid #5800A0' : ''">
            <td>
                <input type="checkbox" [(ngModel)]="row.selected" (change)="onCheckboxChange(row)">
            </td>
            <td *ngFor="let header of tableHeaders">
                <ng-container *ngIf="header !== 'inviteLink'; else inviteLinkCell">
                    <ng-container *ngIf="header !== '_id'">
                        <ng-container *ngIf="isArrayOfObjects(row[header])">
                            {{row[header][0]?.bankName || row[header][0]}}
                            <i class="fa-solid fa-chevron-down" (click)="openBankList[i] = !openBankList[i]"></i>
                            <ul *ngIf="openBankList[i]" class="list">
                                <li class="options" *ngFor="let item of row[header]">
                                    {{item?.bankName || item }}
                                </li>
                            </ul>
                        </ng-container>
                        <ng-container *ngIf="!isArrayOfObjects(row[header])">
                            <!-- Regular content -->
                            <span
                                [style.background-color]="row[header] == 'paid' || row[header] == 'Paid' ? '#E1FCEF' : row[header] == 'unpaid' || row[header] == 'Unpaid' ? '#FAF0F3' : 'transparent'"
                                [style.color]="row[header] == 'paid' || row[header] == 'Paid' ? '#14804A' : row[header] == 'unpaid' || row[header] == 'Unpaid' ? '#D12953' : 'black'"
                                [style.padding]="row[header] == 'paid' ? '5px 10px' : '5px 10px'"
                                [style.border-radius]="'50px'" (click)="getAllInvoices(header, row)">
                                {{ header === 'password'
                                ? '*****'
                                : (header === 'date' ? (row[header] | date:'shortDate') : row[header])
                                }}
                            </span>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-template #inviteLinkCell>
                    <ng-container *ngIf="header === 'inviteLink'">
                        <button class="invite-btn" (click)="onInviteClick(row)">Invite</button>
                    </ng-container>
                </ng-template>
            </td>



            <td>
                <i class="fa-solid fa-trash fa-lg" style="color: rgb(255, 84, 84); cursor: pointer;"
                    (click)="delete(row)"></i>
            </td>
        </tr>
    </tbody>
</table>