table {
    border-collapse: collapse;
    min-width: 100%;
    width: 800px;
    overflow: auto;
}

thead {
    font-weight: bold;
}

th.sortable {
    cursor: pointer;
}

.sort-icon {
    margin-left: 5px;
}

tbody tr.odd {
    background-color: white;
}

tbody tr.even {
    background-color: transparent;
}

tbody tr.selected {
    background-color: #EBF0FA;
}

table th,
table td {
    border: none;
    padding: 20px 30px;
    width: fit-content;
    text-align: center;
    text-wrap: nowrap;
}

thead {
    border-bottom: 2px solid rgb(209, 209, 209);
}

tbody tr td:first-child {
    text-align: center;
}

tbody tr.selected td:first-child input[type="checkbox"] {
    border: 2px solid purple;
}

.invite-btn {
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid #5800A0;
    background-color: #5800A0;
    color: white;
}